 <!-- Footer Start-->
<footer class="footer">
    <div class="container">

        <div class="midfooter">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <div class="logo"><a href=""><img src="images/logo.svg" alt="" /></a></div>

                </div>


                <div class="col-md-4">
                    <h4>Giới thiệu</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <ul class="social">
                        <li><a href=""><i class="icofont-facebook"></i></a></li>
                        <li><a href=""><i class="icofont-google-plus"></i></a></li>
                        <li><a href=""><i class="icofont-twitter"></i></a></li>
                        <li><a href=""><i class="icofont-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Thông tin liên hệ</h4>
                    <ul class="info">
                        <li><b>Địa chỉ:</b> Tầng 4, toà nhà Flemington, số 182 Lê Đại Hành, phường 15, quận 11, tp.Hồ Chí Minh</li>
                        <li><b>Điện thoại:</b> <a href="tel:1900 636 099">1900.636.099</a> </li>
                        <li><b>Fax: </b><a href="tel:1900 636 099">1900.636.099</a></li>
                        <li>Email<a href="mailto: hi@haravan.com"> hi@haravan.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>